@font-face {
    font-family: 'Noto Sans Symbols 2';
    src: URL('/fonts/NotoSansSymbols2-Regular.ttf') format('truetype');
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
/*    display: flex;
    flex-direction: column;
    height: 100vh;*/
}

/*游戏列表*/
.card {
    -webkit-backdrop-filter: blur(0); /*修正磨玻璃效果泄露问题*/
    backdrop-filter: blur(0);
    color: #101010;
    transform: scale(1);
    background-color: rgba(0,0,0,0.05);
    transition: all 0.5s ease;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

    .card:hover {
        color: #000000;
        transform: scale(1.0125);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
        background-color: rgba(0,0,0,0.01);
    }

.glassreflection {
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%);
    height: 50%;
    left: -40%;
    opacity: 0.05;
    position: absolute;
    top: 10%;
    transform: rotate(-40deg) translateY(-60%);
    width: 200%;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    transition: all 0.5s ease;
}

.card:hover .glassreflection {
    opacity: 0.3;
    transform: rotate(-40deg) translateY(-55%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.card-body {
    width: 100%;
    opacity: 0;
    color: white;
    transform: scaleY(0.0);
    transform-origin: bottom;
    transition: all 0.5s cubic-bezier(0,1,.7,1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    background: linear-gradient(to right, rgba(0,0,0,1.0), rgba(255,255,255,0.0));
}

.card:hover .card-body {
    transition-delay: 0.25s;
    transform: scaleY(1);
    opacity: 0.95;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}
.packagesize {
    opacity: 0;
    transition: all 0.5s ease;
}
@keyframes discrotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(2160deg);
    }
}
@keyframes discrotation1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.compactdisc {
    opacity: 0;
    transition: all 0.5s ease;
}
.card:hover .compactdisc {
    animation-name: discrotation,discrotation1;
    animation-duration: 4s,0.5s;
    animation-iteration-count: 1,infinite;
    animation-direction: normal,normal;
    animation-timing-function: ease-in,linear;
    animation-delay: 0s,4s;
    opacity: 1.0;
}
.floppydisk {
    opacity: 0;
    filter: drop-shadow( 0px 0px 0px black);
    transition: all 0.5s ease;
}
.card:hover .floppydisk {
    filter: drop-shadow( 2px 2px 3px black);
    opacity: 1;
}
.memorywarning {
    filter: drop-shadow( 0px 0px 0px black);
    transition: all 0.5s ease;
}
.card:hover .memorywarning {
    filter: drop-shadow( 2px 2px 3px black);
    opacity: 1;
}
.card:hover .packagesize {
    opacity: 1.0;
}
/*bootstrap pagination*/
.pagination li a {
    background-color: #6c757d;
    color: white;
    border: solid 1px #6c757d;
}

    .pagination li a:focus,
    .pagination li a:hover,
    .pagination li span:focus,
    .pagination li span:hover {
        color: white;
        background-color: #495057;
        border-color: #6c757d;
    }

.page-item.active .page-link {
    color: #495057;
    background-color: white;
    border: solid 1px #6c757d;
    cursor: default;
    pointer-events: none;
}

    .page-item.active .page-link:hover {
        background-color: #6c757d;
        border: solid 1px #495057;
    }

.page-item.disabled .page-link {
    color: white;
    background-color: #adb5bd;
    border: solid 1px #495057;
}

.link-selected {
    margin-left: 3px;
    margin-right: 3px;
    font-size: x-small;
    white-space: nowrap;
    color: rgba(0,0,0,.9);
    font-weight:bold;
}

.link {
    margin-left: 3px;
    margin-right: 3px;
    font-size: x-small;
    white-space: nowrap;
    color: rgba(0,0,0,.55);
}
.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 12px;
    color: #fff;
    width: 100%;
    height: 30px;
}

.select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0000004a;
    padding: 6px 15px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

    .select-styled:after {
        content: "";
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-color: #fff transparent transparent transparent;
        position: absolute;
        top: 12px;
        right: 10px;
    }

    .select-styled:hover {
        background-color: #FFFFFF4a;
    }

    .select-styled:active, .select-styled.active {
        background-color: #0000004a;
    }

        .select-styled:active:after, .select-styled.active:after {
            top: 5px;
            border-color: transparent transparent #fff transparent;
        }

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #0000004a;
    backdrop-filter: blur(4px);
}

    .select-options li {
        margin: 0;
        padding: 6px 0;
        text-indent: 15px;
        border-top: 1px solid #0000004a;
        -moz-transition: all 0.15s ease-in;
        -o-transition: all 0.15s ease-in;
        -webkit-transition: all 0.15s ease-in;
        transition: all 0.15s ease-in;
    }

        .select-options li:hover, .select-options li.is-selected {
            color: #FFFFFF;
            background: #FFFFFF4A;
        }

        .select-options li[rel="hide"] {
            display: none;
        }

.buttonStart {
    cursor: pointer;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 19%;
    left: 37.5%;
    width: 45.5%;
    height: 28px;
    color: white;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255,255,255,0.25);
    transition: all 0.15s ease-in;
}

.buttonStart {
    cursor: pointer;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    background-color: rgb(0 0 0 / 50%);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255 255 255 / 80%);
    transition: all 0.15s ease-in;
    backdrop-filter: sepia(10);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .6);
}
    .buttonStart:hover {
        background-color: rgba(128,128,128,0.5);
    }

.deselectedGameList {
    color: grey;
    font-weight: lighter;
}

.adsFrame {
    overflow: hidden;
    border: solid;
    border-width: thin;
    border-color: grey;
    background: rgb(255, 255, 255, 0.3);
    backdrop-filter:blur(5px);
}

.adslotHome {
    width: 300px;
    height: 50px;
}

@media (min-width:500px) {
    .adslotHome {
        width: 468px;
        height: 60px;
    }
}

@media (min-width:800px) {
    .adslotHome {
        width: 728px;
        height: 90px;
    }
}

.form-check-input:checked {
    background-color: #ababab;
    border-color: #d9d9d9
}

.form-radio-input:checked {
    background-color: #ababab;
    border-color: #d9d9d9
}

.gold-member {
    background-color: #ffeb3b;
}

.device-yes {
    color: green;
    font-weight: bold;
}

.device-no {
    color: #bbb;
}

